@import 'tailwindcss';

body {
  font-family: 'Pretendard Variable', sans-serif;
}

@theme {
  --color-purple-primary: #6201e0;
  --color-purple-100: #efe6fc;
  --color-green-primary: #a1e9cf4d;
  --color-green-correct: #14c786;
  --color-red-primary: #fce5e8;
  --color-red-danger: #ec0037;
  --color-gray-primary: #f2f3f5;
  --color-gray-100: #ececec;
  --color-gray-200: #bdbdbd;

  --text-orange-primary: #f85402;
}

/* Qustion 메인 컨테이너 */
@utility container-style {
  @apply flex h-32 max-w-screen items-center border-b border-[#bdbdbd] bg-[#fafafa] px-4;
}

@utility container-style-option {
  @apply justify-around;
}

@utility container-style-no-option {
  @apply justify-start;
}
/* 왼쪽 컨테이너 */
@utility left-container-style {
  @apply flex gap-5;
}

@utility left-container-no-option {
  @apply relative left-[360px];
}
/* flex 형태 버튼 통합 */
@utility pill-button {
  @apply flex items-center justify-center rounded-[99px] border border-[#ececec] bg-white;
}

/* 질문 타이틀 폰트 */
@utility question-title {
  @apply leading-[1.4] tracking-[-0.03em] text-[#121212];
}
/* 자간, 줄 간격격 */
@utility text-balance-space {
  @apply leading-[1.4] tracking-[-0.03em];
}
/* 문제 번호, 타이틀 */
@utility exam-title {
  @apply text-[20px] font-bold text-[#121212];
}
/* 문제 점수, 선택 */
@utility exam-type-label {
  @apply rounded-[2px] bg-gray-100 text-[16px] font-normal text-[#121212];
}
/* 라디오, 체크박스 옆에 들어가는 텍스트트 */
@utility quiz-option {
  @apply text-[16px] font-normal text-[#222222];
}

/* submit 버튼 */
@utility submit-btn {
  @apply bg-purple-primary h-16 text-[18px] font-normal;
}

/* 결과 페이지 틀린 문제 설명 박스 */
@utility result-wrong-box {
  @apply bg-red-primary text-[16px] font-normal;
}

/* 오답 부분 텍스트 */
@utility wrong-text {
  @apply text-balance-space font-normal;
}

/* 결과 페이지 맞춘 문제 설명 박스 */
@utility result-correct-box {
  @apply bg-green-primary text-[16px] font-normal;
}

/* 정답 부분 텍스트*/
@utility correct-text {
  @apply text-balance-space font-normal;
}
